.cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.item1{
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    animation-name: itemsa;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: .1s;
}
@keyframes itemsa {
    to{
        opacity: 1;
    }
}