.cont{
    width: 100%;
    padding-top: 30px;
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item1{
    padding: 12px;
    margin: 10px;
    width: calc(50% - 48px);
    height: auto;
    border-radius: 12px;
    opacity: 0;
    animation-name: itemsa;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: .1s;
    border: 1px solid transparent;
    position: relative;
    transition: all ease-out .5s;
    background-color: rgba(173, 185, 184, 0.548);
}
.item1:hover{
    border: 1px solid rgb(94, 94, 94);
    transition: all ease-out .5s;
    box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.1);
    cursor: pointer;
}
@keyframes itemsa {
    to{
        opacity: 1;
    }
}
.item1ph{
    width: calc(100% - 40px);
}
.header{
    position: absolute;
    left: 10px;
    top: -25px;
    width: 185px;
    height: 35px;
    border-radius: 5px;
    background: #648915;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.circle{
    margin-left: 10px;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 3px;
}
.titleh{
    font-size: 12px;
    color: white;
    margin-right: 10px;
}
.iconmenu{
    margin-top: -1px;
    font-size: 20px;
    color: white;
}
.btn_change{
    width: 26px;
    height: 22px;
    border: 0.3px solid rgba(255, 255, 255, 0.534);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 12px;
}
.iconbtn_change{
    font-size: 16px;
    color: white;
}