<div class="cont">
    <div class="header">
        <div class="title">
            <div class="select"></div>
            Verificacion
        </div><button class="btndoisabled"></button>
        <button mat-icon-button class="btnclosed" (click)="closed()"><mat-icon class="iconclosed">clear</mat-icon></button>
    </div>
    <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
    <div class="body">
        <div class="textb"><strong>{{name}}</strong> estas apunto de borra un item del historial de <strong>{{module}}</strong> </div>
        <mat-form-field class="input">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" minlength="3" (keyup.enter)="validate()">
            <button mat-icon-button matSuffix (click)="hide = !hide" >
              <mat-icon style="color: #E2B66C;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('minlength')">La contraseña es invalida </mat-error>
            <mat-error *ngIf="password.hasError('required')">La contraseña es requerida </mat-error>
          </mat-form-field>
          <button mat-button [disabled]="!password.valid" (click)="validate()">Verificar</button>
    </div>
</div>