.cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    padding: 0px 22px;
    padding-top: 5px;
    width: calc(100% - 44px);
    height: 50px;
    background: #31563D;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.select{
    width: 0px;
    height: 0px;
    border-left: 7px solid #ffc663;
    border-top: 7px solid  transparent;
    border-bottom: 7px solid  transparent;
    margin-right: 7px;
}
 .title{
    font-size: 16px;
    font-weight: 500;
    color: #ffc663;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .btndoisabled{
    width: 5px;
    height: 5px;
    opacity: 0;
}
.btnclosed{
    position: absolute;
    right: 12px;    
    top: 10px;
}
.iconclosed{
    color: #ffc663;
}
.body{
    padding: 22px;
    width: calc(100% - 44px);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textb{
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
    color: #333333;
    line-height: 26px;
}
.input{
    margin: 12px 0px;
    width: 100%;

}
.btn{
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 15px;
    color: #333333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #31563D;
}

::ng-deep .mat-progress-bar-buffer {
    background: white;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}